.menu {
  background-color: #4caf50; /* Green */
  padding: 0px 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.menu li a:hover {
  background-color: #45a049; /* Darker Green */
}
